<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand text-secondary" href="/articles">Wikinimous</a>
        </div>
        <div class="">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/articles/new" class="text-secondary">New Article</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
